body {
	background-color: #f5d9e0;
}

.tag {
	text-align: center;
    color: #737373;
}

.slick-slide img {
	margin: auto;
	width: 25%;
	height: 25%;
}

.yelp-review {
    padding: 50px;
    color: #737373;
    margin: auto;
    width: 50%;
    height: 50%;
}

.logo {
  margin: auto;
  width: 50%;
  height: 50%;
}